#block-tab-right-pane{:class => 'right-pane'}
  #blockly-div

  = render 'toolbox'

#block-tab-left-pane{:class => 'left-pane'}
  #selectors-container
    %ul.nav{:class => 'nav-pills'}
      %li.active
        %a{:href => '#character-selector-tab', :'data-toggle' => 'tab'}<
          キャラクター
      -#%li
        -#%a{:href => '#scene-selector-tab', :'data-toggle' => 'tab'}<
          -#ステージ

    #selectors-tab-content{:class => 'tab-content'}
      #character-selector-tab{:class => 'tab-pane active selector-tab'}
        - %w(car1 car2 cat1 cat2 frog1 ball1 ball2).each do |name|
          .item
            .item-info
              .name
                = name
              .attributes
                X: 200 Y: 300
                %br
                向き: 360°

            %a{:href => '#', :onclick => 'event.preventDefault(); Smalruby.Views.CharacterModalView.render();'}
              %img{:src => "/smalruby/assets/#{name}.png"}

      #scene-selector-tab{:class => 'tab-pane selector-tab'}
        .item
          %a{:href => '#', :onclick => 'window.event.preventDefault();'}
            %div
        .item
          %a{:href => '#', :onclick => 'window.event.preventDefault();'}
            %div

= render 'character_modal'
