#block-tab-right-pane{:class => 'right-pane'}
  #blockly-div

  = render 'toolbox'

#block-tab-left-pane{:class => 'left-pane'}
  #selectors-container
    %ul.nav{:class => 'nav-pills'}
      %li.active
        %a{:href => '#character-selector-tab', :'data-toggle' => 'tab'}<
          キャラクター
      -#%li
        -#%a{:href => '#scene-selector-tab', :'data-toggle' => 'tab'}<
          -#ステージ

    #selectors-tab-content{:class => 'tab-content'}
      #character-selector-tab{:class => 'tab-pane active selector-tab'}
        #character-selector-character-set
        .item
          %a#add-character-button{:class => 'character'}
            %i.icon-plus-sign-alt
            %br
            新しいキャラクター

      #scene-selector-tab{:class => 'tab-pane selector-tab'}
        .item
          %a{:href => '#', :onclick => 'window.event.preventDefault();'}
            %div
        .item
          %a{:href => '#', :onclick => 'window.event.preventDefault();'}
            %div

= render 'character_modal'

%script#character-selector-template{:type => 'text/template'}
  .item
    .item-info
      .name
        {{- get('name') }}
      .attributes
        X: {{- get('x') }} Y: {{- get('y') }}
        %br
        向き:
        %i{class: "{{- rotationStyleIconName() }}"}
        {{- get('angle') }}°

      %a.add-block-button
        %i.icon-folder-close-alt
        %i.icon-double-angle-right

      %a.remove-button
        %i.icon-remove

    %a.character
      %img{:src => '{{- costumeUrl() }}'}
