#right-pane
  #blockly-div

  = render 'toolbox'

#left-pane
  #selectors-container
    %ul.nav{:class => 'nav-pills'}
      %li.active
        %a{:href => '#character-selector-tab', :'data-toggle' => 'tab'}<
          キャラクター
      %li
        %a{:href => '#scene-selector-tab', :'data-toggle' => 'tab'}<
          ステージ

    #selectors-tab-content{:class => 'tab-content'}
      #character-selector-tab{:class => 'tab-pane active'}
        .character
          %a{:href => '#', :onclick => 'window.event.preventDefault();'}
            %img{:src => '/smalruby/assets/car1.png'}
        .character
          %a{:href => '#', :onclick => 'window.event.preventDefault();'}
            %img{:src => '/smalruby/assets/car2.png'}
        .character
          %a{:href => '#', :onclick => 'window.event.preventDefault();'}
            %img{:src => '/smalruby/assets/ball1.png'}
        .character
          %a{:href => '#', :onclick => 'window.event.preventDefault();'}
            %img{:src => '/smalruby/assets/cat1.png'}
        .character
          %a{:href => '#', :onclick => 'window.event.preventDefault();'}
            %img{:src => '/smalruby/assets/frog1.png'}
      #scene-selector-tab{:class => 'tab-pane'}
        .scene
        .scene
