#load-modal{:class => "modal hide fade", :tabindex => "-1",
            :role => "dialog", :"aria-hidden" => "true"}
  .modal-body
    %ul.thumbnails{:id => "load-modal-local-programs",
                   :class => "list-programs"}

    .page-header
      %h3<
        %i.icon-th-large
        いろいろなプログラム
    %ul.thumbnails{:id => "load-modal-demo-programs",
                   :class => "list-programs"}

    .page-header
      %h3<
        %i.icon-search
        プログラムをさがす
    %ul.thumbnails{:class => "list-programs"}
      %li
        %a#load-modal-find-from-computer.thumbnail
          %h1.icon
            %i.icon-folder-open-alt
          %blockquote
            %p
              このコンピュータ
            %small
              Computer

  .modal-footer
    .pull-left
      %button#load-modal-remix-button.btn<
        %i.icon-refresh
        リミックス
    %button.btn{:"data-dismiss" => "modal", :"aria-hidden" => "true"}<
      %i.icon-remove
      やめる
    %button#load-modal-ok-button{:class => "btn btn-primary"}<
      %i.icon-circle-blank
      決めた！
