#signin-modal{class: "#{modal_css_class}", tabindex: "-1",
              role: "dialog", :"aria-hidden" => "true"}
  .modal-body
    %h4
      %i.icon-info-sign
      あなたの名前をいれて、
      %br
      ほかの人のプログラムとまざらないようにしよう♪
    %form#signin-modal-form.form-horizontal
      .control-group{for: "username"}
        %label.control-label{for: "signin-modal-username"}<
          名前
        .controls
          %input#signin-modal-username.input-large{name: "username", type: "text", placeholder: "名前、生徒番号、ニックネームなど"}

  .modal-footer
    %button#signin-modal-cancel-button.cancel-button{class: "btn", :"data-dismiss" => "modal", :"aria-hidden" => "true"}<
      %i.icon-remove
      やめる
    %button#signin-modal-ok-button.ok-button{class: "btn btn-primary"}<
      %i.icon-circle-blank
      ログイン
