%xml{:id => 'toolbox', :style => 'display: none'}
  %category{:name => '動き'}
    -# (　)歩動かす
    %block{:type => 'motion_move'}
      %value{:name => 'STEP'}
        %block{:type => 'math_number'}
          %field{:name => 'NUM'}<
            10

    -# x座標を(　)、y座標を(　)にする
    %block{:type => 'motion_instance_variable_set_x_y'}
      %value{:name => 'X'}
        %block{:type => 'math_number'}
          %field{:name => 'NUM'}<
            0
      %value{:name => 'Y'}
        %block{:type => 'math_number'}
          %field{:name => 'NUM'}<
            0

    -# もし端に着いたら、跳ね返る
    %block{:type => 'motion_turn_if_reach_wall'}

    -# 変数:x座標
    %block{:type => 'motion_self_x'}

    -# 変数:y座標
    %block{:type => 'motion_self_y'}

  %category{:name => '見た目'}
    -# [　]と言う
    %block{:type => 'looks_say'}
      %value{:name => 'TEXT'}
        %block{:type => 'text'}
          %field{:name => 'TEXT'}<
            こんにちは！

    -# 表示する
    %block{:type => 'looks_show'}

    -# 隠す
    %block{:type => 'looks_hide'}

  %category{:name => '音'}
    -# [▼]の音を鳴らす
    %block{:type => 'sound_play'}
      %value{:name => 'NAME'}
        %block{:type => 'sound_preset_sounds'}

  %category{:name => 'データ'}
    -# テキスト
    %block{:type => 'text'}
      %field{:name => 'TEXT'}<
        文章

    -# 数値
    %block{:type => 'math_number'}
      %field{:name => 'NUM'}<
        0

    -# プリセットの画像
    %block{:type => 'looks_preset_images'}

    -# プリセットの音
    %block{:type => 'sound_preset_sounds'}

  %category{:name => 'イベント'}
    -# はじまったとき
    %block{:type => 'events_on_start'}

  %category{:name => '制御'}
    -# ずっと
    %block{:type => 'control_loop'}

    -# もし<　>なら
    %block{:type => 'control_if'}

  %category{:name => '演算'}
    -# 変数:(　) + (　)
    %block{:type => 'operators_add'}

    -# 変数:(　) - (　)
    %block{:type => 'operators_minus'}

    -# 変数:(　) * (　)
    %block{:type => 'operators_multiply'}

    -# 変数:(　) / (　)
    %block{:type => 'operators_divide'}

    -# 条件:(　) < (　)
    %block{:type => 'operators_compare_gt'}

    -# 条件:(　) <= (　)
    %block{:type => 'operators_compare_gte'}

    -# 条件:(　) = (　)
    %block{:type => 'operators_compare_eq'}

    -# 条件:(　) >= (　)
    %block{:type => 'operators_compare_lte'}

    -# 条件:(　) > (　)
    %block{:type => 'operators_compare_lt'}

  %category{:name => '変数', :custom => 'VARIABLE'}
