<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><a id="ruby-tab" href="#">Ruby</a></li>
    </ul>

    <%= form_tag(editor_load_file_path, id: "file-form", class: "navbar-form pull-right", method: "post", multipart: true) do %>
      <button id="check-button" type="button" class="btn btn-primary">チェック</button>
      <input id="filename" type="text" class="span4" placeholder="プログラムの名前を入れてね（例：01.rb）">
      <button id="save-button" type="button" class="btn btn-primary">セーブ</button>
      <button id="load-button" class="btn btn-primary">ロード</button>
      <input id="load-file" type="file" name="load_file" style="display: none">
    <% end %>
  </div>
</div>

<div id="messages">
</div>

<div id="text-editor"></div>

