// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$margin: 20px;
$character-size: 32px * 5;
$left-pane-width: $character-size + $margin * 2;

#messages {
    position: absolute;
    right: 20px;
    z-index: 9999;
}

.left-pane {
    position: relative;
    height: 100%;
    float: left;
    margin-left: -100%;
}

.right-pane {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
}

#modes-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    right: 0;
    bottom: 0;

    .modes-tab-pane {
        position: relative;
        height: 98%;

        #block-tab-left-pane {
            width: $left-pane-width;

            #selectors-container {
                position: relative;
                margin-left: $margin;
                width: $character-size;
                height: 100%;
                overflow: hidden;

                ul.nav-pills {
                    margin: 0 0 4px 0;
                    font-size: 0.8em;
                    line-height: 1em;

                    li {
                        line-height: 12px;

                        a {
                            margin-right: 2px;
                            margin-tiop: 2px;
                            margin-bottom: 2px;

                            padding-top: 8px;
                            padding-bottom: 8px;
                            padding-right: 5px;
                            padding-left: 5px;

                            line-height: 12px;
                        }
                    }
                }

                #selectors-tab-content {
                    $border-size: 5px;
                    $border-color: #0088cc;

                    position: absolute;
                    width: $character-size + $margin * 3;
                    top: 32px;
                    left: 0;
                    right: 0;
                    bottom: -2px;
                    overflow-y: scroll;

                    .selector-tab {
                        .item {
                            position: relative;
                            width: $character-size;
                            height: $character-size;

                            .item-info {
                                position: absolute;
                                left: 0;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                width: $character-size;
                                height: $character-size;

                                color: gray;

                                .name {
                                    position: absolute;
                                    top: $border-size * 2;
                                    left: $border-size * 2;

                                    font-size: 1.5em;
                                    line-height: 1.5em;
                                }

                                .attributes {
                                    position: absolute;
                                    bottom: $border-size * 2;
                                    right: $border-size * 2;

                                    font-size: 0.8em;
                                    line-height: 1.1em;
                                    text-align: right;
                                }
                            }

                            a {
                                position: relative;
                                text-decoration: none;
                                overflow: hidden;
                                display: table-cell;
                                text-align: center;
                                vertical-align: middle;
                                width: $character-size;
                                height: $character-size;
                            }

                            a:hover {
                                width: $character-size - $border-size * 2;
                                height: $character-size - $border-size * 2;
                                border: $border-size solid $border-color;

                                img, div {
                                    margin: -$border-size;
                                }
                            }
                        }
                    }
                }
            }
        }

        #block-tab-right-pane {
            #blockly-div {
                margin-left: $left-pane-width;
                position: absolute;
                left: 0;
                top: 0;
                right: $margin;
                bottom: 0;
            }
        }

        #text-editor {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            font-size: 16pt;
        }
    }
}

#character-modal {
    $modal-frame-size: 1px;
    $modal-body-margin: 15px;

    $modal-margin: $modal-frame-size + $modal-body-margin;

    $preview-width: 320px;
    $preview-height: 240px;

    $attributes-height: 160px;

    $left-pane-width: $preview-width;
    $right-pane-width: $character-size * 3 + $modal-body-margin;

    $modal-width: $left-pane-width + $right-pane-width + $modal-margin * 2;
    $modal-height: $preview-height + $attributes-height + $modal-margin * 2;

    width: $modal-width;
    height: $modal-height;
    margin-left: -($modal-width / 2);

    .modal-body {
        position: relative;
        height: 100%;
        max-height: $modal-height - $modal-body-margin * 2;

        #character-modal-left-pane {
            width: $left-pane-width;
            overflow: hidden;

            #character-modal-preview {
                position: relative;

                width: $preview-width;
                height: $preview-height;
                background-color: black;

                #character-modal-character {
                    position: absolute;
                    top: 0;
                    left: 0;

                    img {
                        zoom: 50%;
                    }
                }
            }

            #character-modal-attributes {
                position: absolute;
                width: $preview-width;
                top: $preview-height + $modal-body-margin;
                left: 0;
                right: 0;
                bottom: 0;

                #character-modal-form {
                    margin-bottom: 0;

                    .control-group {
                        margin-bottom: 8px;

                        .control-label {
                            width: 100px;
                        }

                        .controls {
                            margin-left: 100px + $modal-body-margin;

                            input[type=range] {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }

        #character-modal-right-pane {
            overflow: hidden;

            #character-modal-costume-selecter {
                margin-left: $left-pane-width;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: $right-pane-width + $modal-body-margin * 2;
                overflow-y: scroll;

                ul.thumbnails {
                    margin: 0 0 10px 0;

                    li {
                        margin-left: $modal-body-margin;
                        margin-bottom: $modal-body-margin;
                    }
                }
            }
        }
    }
}
