// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages {
    position: absolute;
    right: 20px;
    z-index: 9999;
}

#blockly-div {
    position: absolute;
    left: 0;
    top: 60px;
    right: 0;
    bottom: 0;
}

#text-editor {
    position: absolute;
    left: 0;
    top: 60px;
    right: 0;
    bottom: 0;

    font-size: 16pt;
}
