// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages {
    position: absolute;
    right: 20px;
    z-index: 9999;
}

.tab-content {
    position: absolute;
    left: 0;
    top: 60px;
    right: 0;
    bottom: 0;

    .tab-pane {
        position: relative;
        height: 100%;

        #left-pane {
            position: relative;
            width: 320px;
            height: 100%;
            float: left;
            margin-left: -100%;
        }

        #right-pane {
            position: relative;
            height: 100%;
            width: 100%;
            float: left;

            #blockly-div {
                margin-left: 320px;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }

        #text-editor {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            font-size: 16pt;
        }
    }
}
